<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		
		<title>Cadê o Lanche?</title>
	</head>
	<body>
		<div class="container text-center">
			<div>
				<img src="/images/logo.png" width="128" height="128" class="img-fluid mt-5" alt="Cadê o Lanche?" />
				<h1 class="mt-4 font-weight-bold">Cadê o Lanche?</h1>
				<h3 class="mt-2">Olá! Aqui no Cadê o Lanche? você pode fazer seu pedido de forma simples e prática</h3>
			</div>
			<div>
				<div class="mt-5 mb-2">
 					<div class="form-group">
						<a role="button" href="/pedido/novo" class="btn btn-warning">Fazer pedido</a>
					</div>
				</div>
			</div>
			<footer class="footer mt-auto py-3">
				<div class="container">
					Desenvolvido por Silas Maciel Ferreira. Projeto: <a target="_blank" href="https://github.com/siilas/cadeolanche">https://github.com/siilas/cadeolanche</a>.
				</div>
			</footer>
		</div>
	</body>
</html>