<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="shortcut icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
		
		<title>Cadê o Lanche?</title>
	</head>
	<body>
		<div class="container text-center">
			<div class="row justify-content-md-center align-items-center mt-5">
				<div class="mr-2">
					<img src="/images/logo.png" width="64" height="64a" class="img-fluid" alt="Cadê o Lanche?" />
				</div>
				<div class="ml-2">
					<h1 class="mt-4 font-weight-bold">Cadê o Lanche?</h1>
				</div>
			</div>
			<div>
				<div class="mt-5 mb-2">
 					<div class="form-group">
						<a role="button" href="/pedido/novo" class="btn btn-warning">Fazer pedido</a>
					</div>
				</div>
			</div>
			<div id="loading" style="display: none;">
				<img src="images/loading.gif" alt="Carregando..." width="32" height="32" />
			</div>
			<footer class="footer mt-auto py-3">
				<div class="container">
					Desenvolvido por Silas Maciel Ferreira. Projeto: <a target="_blank" href="https://github.com/siilas/cadeolanche">https://github.com/siilas/cadeolanche</a>.
				</div>
			</footer>
		</div>
	</body>
</html>